* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
    margin: 0;
  }
  
  nav, footer {
    padding: 10px 0;
    background-color: #aaa;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  main {
      padding-top: 45px;
  }
  
  .container {
    display: flex;
    height: 95vh;
    background-color: #bbb;
  }

.column {
    flex: 1;
    flex-direction: column;
    height: 95vh;
    padding-top: 47.5vh;
    border: 2px solid black;
}

.section_left {
    background-color: grey;
}

.section_right {
    background-color: lightgray;
}

@media screen and (min-width: 720px) {
    nav {
        right: auto;
        bottom: 0;
        padding: 50px;
        padding-top: 50vh;
    }

    main {
        padding-top: 0;
        padding-left: 136px;
    }

    .container {
        height: 100vh;
      }

    .column {
        height: 100vh;
        padding-top: 50vh;
    }
    footer{
        display: none;
    }
  }
  